<%- include('./partials/base') %>

<h1 id="header"><strong>My Courses</strong></h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Best Score</th>
        </tr>
    </thead>
    <tbody>
        <% details.forEach(function(course) { %>
        <tr>
            <div id="course-list">
                <td><%=course.name %></td>
                <td><%=course.bestScore %></td>
                <td>
                    <form action="/courses/<%= course.id %>/details" method="POST">
                        <button type="submit" value="<%= JSON.stringify({courseId: course.courseId, user: user}) %>"
                            name="courseDetails">Details</button>
                    </form>
                </td>
                <td>
                    <form action="/courses/<%= course.id%>?_method=DELETE" method="POST">
                        <button type="submit" value="<%= JSON.stringify({courseId: course.courseId, user: user}) %>"
                            name="deleteCourse">X</button>
                    </form>
                </td>
        </tr>
        <% }) %>
        </div>
    </tbody>
</table>

<%- include('./partials/footer') %>