<%- include('./partials/base') %>



<h1 id="golf-search">Golf Course Search</h1>



<form id="search-header" action="/courses/api" method="GET">
    <input type="text" name="courses" placeholder="Enter City..." />
    <button class="btn btn-warning" style="background-color: gold" type="submit">Search Golf Courses</button>
</form>


<% if(!courses) { %>
<h1 id="search-heading">Search Courses</h1>
<%} else { %>

<tbody>
    <% courses.forEach(function(course) { %>
    <div class="search-results">
        <tr>
            <td><%= course.name %></td><br>
            <td><%= course.address %></td>
            <td>
                <form action="/courses/save" method="POST">
                    <button class="btn btn-warning" style="background-color: gold;" type="submit"
                        value="<%= JSON.stringify({courseId: course.courseId, user: user, name: course.name}) %>"
                        name="courseToSave">
                        Favorite
                    </button>
                    <hr style="border: 2px solid gold;">
                </form>
            </td>
        </tr>
    </div>
    <% }) %>
</tbody>

<%} %> <%- include('./partials/footer') %>