<%- include('./partials/base') %>

<h1 id="header"><strong>My Courses</strong></h1>
<table>
    <thead>
        <tr id="name-heading">
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <% if(!details) { %>
        <h2>No Courses Yet</h2>
        <% } else { %>

        <% details.forEach(function(course) { %>
        <tr>
            <div class="course-list">
                <td><%=course.name %></td>
                <td>
                    <form action="/courses/<%= course.id %>/details" method="POST">
                        <button class="btn btn-warning" style="background-color: gold;" type="submit"
                            value="<%= JSON.stringify({courseId: course.courseId, user: user}) %>"
                            name="courseDetails">Details</button>
                    </form>
                </td>
                <td>
                    <form action="/courses/<%= course.id%>?_method=DELETE" method="POST">
                        <button class='btn btn-danger' type="submit"
                            value="<%= JSON.stringify({courseId: course.courseId, user: user}) %>"
                            name="deleteCourse">X</button>
                    </form>
                </td>
        </tr>
        <% }) %>
        <%}%>
        </div>
    </tbody>
</table>

<%- include('./partials/footer') %>