<%- include('./partials/base') %>



<h1>Golf Course Search</h1>
<form action="/courses/api" method="GET">
    <input type="text" name="courses" />
    <button type="submit">Search Golf Courses</button>
</form>

<% if(!courses) { %>
<h1>Search Courses</h1>
<%} else { %>
<ul>
    <% courses.forEach(function(course) { %>
    <li>
        <%= course.name %>
        <br />
        <%= course.address %>
        <form action="/courses/save" method="POST">
            <button type="submit" value="<%= JSON.stringify({courseId: course.id, user: user, name: course.name}) %>" name="courseToSave">
                Favorite
            </button>
        </form>
    </li>
    <% }) %>
</ul>
<%} %> <%- include('./partials/footer') %>