<%- include('./partials/base') %>
<h1 id="details-heading">Details</h1>
<h2><%=courses.photo %></h2>
<br>
<br>
<label>Course:
    <h2><%= courses.name %></h2>
</label><br>
<br>
<label>Address:
    <h2><%=courses.address %></h2>
</label><br>
<br>
<label>Phone Number:
    <h2><%= courses.phoneNumber %></h2>
</label>

<br><br>
<h2>Reviews</h2>
<form id="add-review-form" method="POST" action="/courses/<%= courses.id %>/reviews">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="submit" value="Add Review">
</form>



<%- include('./partials/footer') %>