<%- include('./partials/base') %>

<h1 id="details-heading">Course Details</h1>
<br>
<br>
<div id="course-details">
    <label class="details">Course:
        <h2 class="details"><%= details.name %></h2>
    </label>
    <hr style="border: 2px solid gold;">
    <br>
    <br>
    <label class="details">Address:
        <h2 class="details"><%=details.address %></h2>
    </label>
    <hr style="border: 2px solid gold;">
    <br>
    <br>
    <label class="details">Phone Number:
        <h2><%= details.phoneNumber %></h2>
    </label>
    <hr style="border: 2px solid gold;">
</div> <br><br>


<%- include('./score/scores') %>
<hr class="line-break">
<%- include('./reviews') %>

<%- include('./partials/footer') %>