<%- include('./partials/base') %>

<h1 id="details-heading">Course Details</h1>
<br>
<br>
<div id="course-details">
    <label class="details">Course:
        <h2 class="details"><%= details.name %></h2>
    </label><br>
    <br>
    <label class="details">Address:
        <h2 class="details"><%=details.address %></h2>
    </label><br>
    <br>
    <label class="details">Phone Number:
        <h2><a href="<%= details.phoneNumber %>" class="details" role="button"></a></h2>
    </label>
</div> <br><br>
<div>
    <form action="/courses/<%= course %>/scores" method="GET">
        <label> Best Score:
            <input type="text" name="bestScore">
            <button type="submit">Add Score</button>
        </label>
    </form>
</div>

<%- include('./reviews') %>

<%- include('./partials/footer') %>