<%- include('./partials/base') %>

<h1 id="details-heading">Course Details</h1>
<br>
<br>
<div id="course-details">
    <label class="details">Course:
        <h2 class="details"><%= details.name %></h2>
    </label>
    <hr style="border: 2px solid gold;">
    <br>
    <br>
    <label class="details">Address:
        <h2 class="details"><%=details.address %></h2>
    </label>
    <hr style="border: 2px solid gold;">
    <br>
    <br>
    <label class="details">Phone Number:<br>
        <a id="phone-number" href="tel:<%= details.phoneNumber %>" role="button"><%=details.phoneNumber %></a>
    </label>
    <hr style="border: 2px solid gold;">
    <label class="details">Website:<br>
        <a id="website-btn" href="<%= details.website %>" role="button"><%=details.name %></a>
    </label>
    <hr style="border: 2px solid gold;">
</div> <br><br>


<%- include('./score/scores') %>
<hr class="line-break">
<%- include('./reviews') %>

<%- include('./partials/footer') %>