<h2 id="reviews-heading">Reviews</h2>
<div id="user-reviews">
    <% if(courses.reviews) { %>
    <table>
        <% courses.reviews.forEach(function(review) { %>
        <tr>
            <td><%=review.content %></td>
            <td><%=review.rating %></td>
            <td><%=review.createdAt.toLocaleDateString() %></td>
        </tr>
        <% }) %>
    </table>
    <%} else { %>
    <h5>No Comments Yet</h5>
    <% } %>
</div>
<hr style="border: 2px solid gold;">
<form id="add-review-form" method="POST" action="/courses/<%= course %>/reviews">
    <textarea id="review-area" name="content"></textarea>
    <div id="review-rating">
        <select name="rating" class="btn btn-warning dropdown-toggle">
            <label>Rating:</label>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button class="btn btn-warning" type="submit" value="<%= JSON.stringify({details, course}) %>"
            name="detailsAndCourse">Add Review</button>
    </div>
</form>