<div>
    <form action="/courses/<%= course %>/scores" method="POST">
        <label> Scores:
            <input type="text" name="bestScore">
            <button type="submit" value="<%= JSON.stringify({details, course}) %>" name="detailsAndCourse">Add
                Score</button>
        </label>
    </form>
</div>
<div id="user-scores">
    <% if(courses.score) { %>
    <table>
        <% courses.score.forEach(function(score) { %>
        <tr>
            <td><%=score.bestScore %></td>
            <td><%=score.createdAt.toLocaleDateString() %></td>
            <td>
                <form action="/courses/<%= course %>/edit" method="POST">
                    <button type="submit" value="<%= JSON.stringify({details, course}) %>"
                        name="detailsAndCourse">Update Score</button>
                </form>
            </td>
            <td>
                <form action="/courses/<%= course.id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
            </td>
        </tr>
        <% }) %>
    </table>
    <%} else { %>
    <h5>No Scores Yet</h5>
    <% } %>
</div>