<div id="add-score">
    <form action="/courses/<%= course %>/scores" method="POST">
        <h3 id="score-heading">Score:</h3>
        <label>
            <input type="text" name="bestScore">
            <button type="submit" class="btn btn-warning" style="background-color: gold;"
                value="<%= JSON.stringify({details, course}) %>" name="detailsAndCourse">Add
                Score</button>
        </label>
    </form>
</div>
<hr style="border: 2px solid gold;">
<div id="user-scores">
    <% if(courses.score) { %>
    <table>
        <% courses.score.forEach(function(score) { %>
        <div>
            <tr>
                <td><%=score.bestScore %></td>
                <td><%=score.createdAt.toLocaleDateString() %></td>
                <td>
                    <form action="/courses/<%= course %>/edit" method="POST">
                        <button class="btn btn-warning" style="background-color: gold;" type="submit"
                            value="<%= JSON.stringify({details, course}) %>" name="detailsAndCourse">Update
                            Score</button>
                    </form>
                </td>
                <td>
                    <form action="/courses/<%= course.score %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger" type="submit">X</button>
                    </form>
                </td>
            </tr>

        </div>
        <% }) %>
    </table>
    <%} else { %>
    <h5>No Scores Yet</h5>
    <% } %>
</div>