<%- include('../partials/base') %>
<div id="update-score">
    <h1>Update Score:</h1>
</div>

<% courses.scores.forEach(function(score) { %>
<div id="update-score-body">
    <form action="/courses/<%= score.id %>/update" method="POST">
        <label id="score-update">Score:
            <h5 id="score-date"><%= score.createdAt.toLocaleDateString() %></h5>
            <input type="text" value="<%= score.bestScore %>" name="score">
            <button class="btn btn-warning" style="background-color: gold;" type="submit"
                value="<%= JSON.stringify({details, course, score}) %>" name="detailsAndCourse">Update
                Score</button>
        </label>
        <hr style="border: 2px solid gold;">
    </form>
</div>
<%}) %>


<%- include('../partials/footer') %>