<%- include('../partials/base') %>

<h1>Update Score:</h1>

<% courses.score.forEach(function(score) { %>
<form action="/courses/update/<%= course %>?_method=PUT" method="POST">
    <label>Score:
        <h5 id="score-date"><%= score.createdAt.toLocaleDateString() %></h5>
        <input type="text" value="<%= score.bestScore %>" name="score">
        <button type="submit" value="<%= JSON.stringify({details, course}) %>" name="detailsAndCourse">Update
            Score</button>
    </label>
</form>
<%}) %>


<%- include('../partials/footer') %>