<%- include('../partials/base') %>

<h1>Update Score:</h1>

<% courses.score.forEach(function(score) { %>
<form action="/courses/update/<%= course %>" method="POST">
    <label>Score:
        <input type="text" value="<%= score.bestScore %>" name="score">
    </label>
    <button type="submit" value="<%= JSON.stringify({details, course}) %>" name="detailsAndCourse">Update Score</button>
</form>
<%}) %>


<%- include('../partials/footer') %>